In [1]:
import pandas as pd
import numbers
import math

In [2]:
raw = pd.read_csv('data_train.csv', ';')

In [3]:
raw.head()

,№ сделки,Сумма кредита (руб),Рейтинг заёмщика (1-10 баллов),Кредитная история,Результат верификации,Голос кредитного инспектора,Голос клиентского менеджера,Сумма залога (руб),Решение
0,1,180000,7,NaN,отрицательный,NaN,NaN,293000.0,Отклонен
1,2,290000,5,зеленая,положительный,NaN,NaN,NaN,Одобрен
2,3,420000,8,NaN,положительный,NaN,NaN,507000.0,Одобрен
3,4,900000,9,зеленая,отрицательный,NaN,NaN,NaN,Отклонен
4,5,60000,5,жёлтая,отрицательный,NaN,NaN,NaN,Отклонён

In [4]:
raw.describe()

,№ сделки,Сумма кредита (руб),Рейтинг заёмщика (1-10 баллов),Сумма залога (руб)
count,1000.000000,1000.000000,1000.000000,4.930000e+02
mean,500.500000,511660.000000,6.665000,7.514260e+05
std,288.819436,279416.746309,2.416322,4.239924e+05
min,1.000000,50000.000000,1.000000,2.000000e+04
25%,250.750000,270000.000000,5.000000,3.810000e+05
50%,500.500000,510000.000000,7.000000,7.470000e+05
75%,750.250000,752500.000000,9.000000,1.146000e+06
max,1000.000000,990000.000000,10.000000,1.491000e+06

In [5]:
raw.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
№ сделки,1000.0,500.500000,288.819436,1.0,250.75,500.5,750.25,1000.0
Сумма кредита (руб),1000.0,511660.000000,279416.746309,50000.0,270000.00,510000.0,752500.00,990000.0
Рейтинг заёмщика (1-10 баллов),1000.0,6.665000,2.416322,1.0,5.00,7.0,9.00,10.0
Сумма залога (руб),493.0,751425.963489,423992.364912,20000.0,381000.00,747000.0,1146000.00,1491000.0

In [6]:
raw.columns = ['DealID', 'CreditSumm', 'Rating', 'CreditHistory', 'Verifycation', 'VoteCI', 'VoteCM', 'PledgeSumm', 'Decision']
raw.head()

,DealID,CreditSumm,Rating,CreditHistory,Verifycation,VoteCI,VoteCM,PledgeSumm,Decision
0,1,180000,7,NaN,отрицательный,NaN,NaN,293000.0,Отклонен
1,2,290000,5,зеленая,положительный,NaN,NaN,NaN,Одобрен
2,3,420000,8,NaN,положительный,NaN,NaN,507000.0,Одобрен
3,4,900000,9,зеленая,отрицательный,NaN,NaN,NaN,Отклонен
4,5,60000,5,жёлтая,отрицательный,NaN,NaN,NaN,Отклонён

In [7]:
def replace_letters(x):
    if isinstance(x, numbers.Number):
        return x
    return x.replace('ё', 'е')

In [8]:
raw['CreditHistory']=raw['CreditHistory'].apply(replace_letters)
raw['Decision']=raw['Decision'].apply(replace_letters)
raw.head()

,DealID,CreditSumm,Rating,CreditHistory,Verifycation,VoteCI,VoteCM,PledgeSumm,Decision
0,1,180000,7,NaN,отрицательный,NaN,NaN,293000.0,Отклонен
1,2,290000,5,зеленая,положительный,NaN,NaN,NaN,Одобрен
2,3,420000,8,NaN,положительный,NaN,NaN,507000.0,Одобрен
3,4,900000,9,зеленая,отрицательный,NaN,NaN,NaN,Отклонен
4,5,60000,5,желтая,отрицательный,NaN,NaN,NaN,Отклонен

In [9]:
def decision_to_digit(x):
    if x == 'Одобрен':
        return 1
    return 0

In [10]:
raw['Decision']=raw['Decision'].apply(decision_to_digit)
raw.head()

,DealID,CreditSumm,Rating,CreditHistory,Verifycation,VoteCI,VoteCM,PledgeSumm,Decision
0,1,180000,7,NaN,отрицательный,NaN,NaN,293000.0,0
1,2,290000,5,зеленая,положительный,NaN,NaN,NaN,1
2,3,420000,8,NaN,положительный,NaN,NaN,507000.0,1
3,4,900000,9,зеленая,отрицательный,NaN,NaN,NaN,0
4,5,60000,5,желтая,отрицательный,NaN,NaN,NaN,0

In [11]:
def is_pledge_exists(x):
    if math.isnan(x):
        return 0
    return 1

In [12]:
raw['IsPledgeExists']=raw['PledgeSumm'].apply(is_pledge_exists)
raw.head()

,DealID,CreditSumm,Rating,CreditHistory,Verifycation,VoteCI,VoteCM,PledgeSumm,Decision,IsPledgeExists
0,1,180000,7,NaN,отрицательный,NaN,NaN,293000.0,0,1
1,2,290000,5,зеленая,положительный,NaN,NaN,NaN,1,0
2,3,420000,8,NaN,положительный,NaN,NaN,507000.0,1,1
3,4,900000,9,зеленая,отрицательный,NaN,NaN,NaN,0,0
4,5,60000,5,желтая,отрицательный,NaN,NaN,NaN,0,0

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X = raw.drop(['DealID', 'Decision'], axis=1)
y = raw['Decision']
print('X length = '+ str(len(X)))
print('y length = '+ str(len(y)))

X length = 1000
y length = 1000

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
print('X_train length = '+ str(len(X_train)))
print('X_test length = '+ str(len(X_test)))
print('y_train length = '+ str(len(y_train)))
print('y_test length = '+ str(len(y_test)))

X_train length = 750
X_test length = 250
y_train length = 750
y_test length = 250

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
scaler.fit(X_train)

ValueError: could not convert string to float: 'красная'